<!doctype html>
<html lang="en">
<head>
    <title>Demo Application</title>
</head>
<body>
<h1>Demo</h1>
<p>
    Hello {{name}} (sub:{{sub}})
</p>
<p>
    This reloads the current document to check that HTTP sessions are correctly setup and the user remains
    authenticated.<br>
    <button onclick="location.reload()">
        Check HTTP Session
    </button>
</p>
</body>
</html>